
<app-admin-menu></app-admin-menu>


<h1>Product List</h1>
<table class="table table-striped" *ngIf="products">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of products;">
    <th scope="row"><a routerLink="/admin/product-detail/{{ item.id }}">{{ item.id }}</a></th>
    <th scope="row">{{ item.name }}</th>
    <th scope="row">{{ item.description }}</th>
    <th scope="row">{{ item.price }}</th>
  </tr>
  </tbody>
</table>


